:root {
    --month-header-height: 3rem;

    --border-color: #d0d0d0;
    --header-background: #e8e8e8;
    --cell-background: #fff;
    --cell-height: 8rem;

    --spacing: 0.5rem;
    --radius: 0.25rem;
}

.calendar {
    margin-bottom: var(--spacing);
}

.calendar table {
    width: 100%;

    table-layout: fixed;
    border-spacing: 0;
}

.calendar td {
    vertical-align: top;

    padding: var(--spacing);
    height: var(--cell-height);

    background: var(--cell-background);
    box-shadow: inset 0 0 0 1px var(--border-color);
}

.calendar h2,
.calendar th {
    position: sticky;

    background: var(--header-background);
    box-shadow: inset 0 0 0 1px var(--border-color);
}

.calendar h2 {
    top: var(--navbar-height);
    z-index: 2;

    margin: 0;
    height: var(--month-header-height);

    display: flex;
    align-items: center;
    padding-left: var(--spacing);
}

.calendar th {
    top: calc(var(--navbar-height) + var(--month-header-height));
    z-index: 1;

    padding: var(--spacing);
}
