:root {
    --fab-size: 3.5rem;
    --fab-offset: 1rem;
    --fab-background: #444;
    --fab-colour: #fff;
}

.fab {
    position: fixed;
    right: var(--fab-offset);
    bottom: var(--fab-offset);

    width: var(--fab-size);
    height: var(--fab-size);

    border-radius: 50%;

    background: var(--fab-background);
    color: var(--fab-colour);

    text-decoration: none;
    text-align: center;
    line-height: var(--fab-size);
    font-size: calc(var(--fab-size) * 0.57);

    z-index: 1000;
}
