{% extends "core/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/core/board/calendar.css' %}">
{% endblock %}
{% block body %}
    <div class="calendar-container">
        <div
                class="calendar"
                id="calendar"
                hx-get="{% url 'core:month' year=current_month.year month=current_month.month %}"
                hx-target="#calendar"
                hx-trigger="load, itemUpdated from:body"
        >
        </div>
        <div
                class="side-panel"
                id="side-panel"
        >
        </div>
    </div>
{% endblock %}
