{% extends "core/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/core/board/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'style/core/item.css' %}">
{% endblock %}
{% block body %}
    <div class="calendar-container">
        <button
                class="calendar-fab"
                hx-get="{% url 'core:create_item' %}"
                hx-target="#item-panel"
        >
            +
        </button>
        <div
                id="calendar"
                hx-get="{% url 'core:current_month' %}"
                hx-trigger="load, itemUpdated from:body"
        >
        </div>
        <div
                id="item-panel"
        >
        </div>
    </div>
{% endblock %}
