{% if previous_month %}
    <div hx-get="{% url 'core:previous_month' year=previous_month.year month=previous_month.month %}"
         hx-trigger="intersect once"
         hx-swap="outerHTML">
    </div>
{% endif %}
<section class="calendar">
    <h2>{{ month.name }} {{ month.year }}</h2>
    <table>
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody>
            {% for week in month.data %}
                <tr>
                    {% for day in week %}
                        <td>
                            {% if day %}
                                <div>{{ day.date.day }}</div>
                                {% for item in day.items %}
                                    <div>
                                        <a href="{% url 'core:edit_item' item.id %}">{{ item.name }}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% if next_month %}
    <div hx-get="{% url 'core:next_month' year=next_month.year month=next_month.month %}"
         hx-trigger="intersect once"
         hx-swap="outerHTML">
    </div>
{% endif %}
