{% extends "core/base.html" %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>
            {% if form.instance.pk %}
                Save tag
            {% else %}
                Create tag
            {% endif %}
        </button>
    </form>
    {% if form.instance.pk %}
        <form method="post" action="{% url 'core:delete_tag' tag_id=form.instance.id %}">
            {% csrf_token %}
            <button>Delete tag</button>
        </form>
    {% endif %}
{% endblock %}
