{% extends "core/base.html" %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        {% if form.instance.pk %}
            <div>
                {{ form.is_complete.label_tag }}
                {{ form.is_complete }}
                {{ form.is_complete.errors }}
            </div>
        {% endif %}
        <div>
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div>
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div>
            {{ form.tags.label_tag }}
            {{ form.tags }}
            {{ form.tags.errors }}
            <a href="{% url "core:tags" %}">Manage tags</a>
        </div>
        <div>
            {{ form.start_datetime.label_tag }}
            {{ form.start_datetime }}
            {{ form.start_datetime.errors }}
        </div>
        <div>
            {{ form.end_datetime.label_tag }}
            {{ form.end_datetime }}
            {{ form.end_datetime.errors }}
        </div>
        <div>
            {{ form.non_field_errors }}
        </div>
        <button type="submit">
            {% if form.instance.pk %}
                Save item
            {% else %}
                Create item
            {% endif %}
        </button>
    </form>
    {% if form.instance.pk %}
        <form method="post" action="{% url 'core:delete_item' item_id=form.instance.id %}">
            {% csrf_token %}
            <button type="submit">Delete item</button>
        </form>
    {% endif %}
{% endblock %}
